# 2018년 3월 28일 점프투파이썬 2장
## 테스트
- 숫자형
     1. 기능1
     
     2. 기능2
- 문자열
- 리스트

In [1]:
print("세번째 수업")

세번째 수업

In [2]:
123

123

## 1절 숫자형

In [3]:
123

123

In [4]:
456

456

In [5]:
1+2

3

In [6]:
1*3

3

In [7]:
7/4

1.75

In [8]:
-7/4

-1.75

In [9]:
7//4

1

In [10]:
7%4

3

In [11]:
1-0.9

0.09999999999999998

### lab 1
#### 수익 계산

In [22]:
revenue = 98456
cost = 45000
profit = revenue-cost
print(profit)

53456

## 2절 문자열

In [12]:
boy = "I am a boy"
boy

'I am a boy'

In [13]:
girl = "I am a girl"
girl

'I am a girl'

In [14]:
"I'm a girl"

"I'm a girl"

In [19]:
friend = """
I am a boy
I am a girl
"""

In [16]:
boy + ' ' + girl

'I am a boy I am a girl'

In [17]:
boy * 3

'I am a boyI am a boyI am a boy'

In [26]:
# 문자열 인덱싱
a = "life is too short, you need Python"
a [0]+ a[10]+a[30]

'lot'

In [27]:
# 문자열 슬라이싱 a,= : , b
a[12:17]

'short'

In [28]:
a[:]

'life is too short, you need Python'

In [29]:
a[:20]

'life is too short, y'

In [31]:
a = "20180328Sunny"
year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print(year, month, day, weather)

2018 03 28 Sunny

In [ ]:
print("")

In [32]:
"year년 month월 day일 날씨는 weather 입니다"

'year년 month월 day일 날씨는 weather 입니다'

In [33]:
"{year}년 {month}월 {day}일 날씨는 {weather} 입니다". format(year=year, month=month, day=day, weather=weather)

'2018년 03월 28일 날씨는 Sunny 입니다'

### lab 3
#### 문자열 포맷팅

In [34]:
pi = 3.141592
sq_root = 1.41429

In [35]:
"pi= {pi}, and square root of 2 is {sq_root}". format(pi=pi, sq_root=sq_root)

'pi= 3.141592, and square root of 2 is 1.41429'

### lab 2
#### 문자열 다루기

In [ ]:
a= "I love Python"
b= "you hate Python"

# 문자열 내장함수

In [36]:
# 문자 개수 세기
a = "hobby"
a.count('b')

2

In [37]:
a= "hobby"
a.find('b')

2

In [38]:
# 위치 알려주기 2
a. index('b')

2

In [40]:
# 문자열 삽입하기
a= ","
a.join("금은동")

'금,은,동'

In [41]:
a= "I love Python"
a.upper()

'I LOVE PYTHON'

In [43]:
a. lower()

'i love python'

In [44]:
a= " hi "
a.lstrip()

'hi '

In [45]:
a.rstrip()

' hi'

In [46]:
a. strip()

'hi'

In [48]:
# 문자열 나누기
a= "life is too short"
a. split()

['life', 'is', 'too', 'short']

## lap 2 이어서

In [49]:
a= "I love python"
b= "You hate Python"

In [50]:
a.find('o')

3

In [51]:
b. index('o')

1

In [52]:
a. count('o')

2

In [53]:
a.upper()

'I LOVE PYTHON'

In [54]:
b.lower()

'you hate python'

In [56]:
a_6=a[0:7]
a_6

'I love '

In [57]:
a_6.rstrip()

'I love'

## 3절 리스트